<fieldset>
    <h3>Single choice</h3>
   
    <fieldset class ="question">
        <p id="1">Qeustion 1: what's the data type for angular</p>
        <label><input type="radio" name="q1" value="a" (change) ="radioChangeHandler($event)"/>number</label>
        <br/>
        <label><input type="radio" name="q1"  value="b"/>integer</label>
        <br/>
        <label><input type="radio" name="q1" value="c"/>double</label>
    </fieldset>

    <fieldset class ="question">
        <p id="2">Question 2: What is the decorator used for configuring your module class?e</p>
        <label><input type = "radio" name ="q2">@ngModule</label>
        <br/>
        <label><input type ="radio" name="q2" >!ngModule</label>
        <br/>
        <label><input type ="radio" name ="q2">@ngApp</label>
    </fieldset>

    <fieldset class="question">
        <p id ="3">Quetion 3: which charater is used for chaining multiple pipe?</p>
        <label><input type ="radio" name ="q3" value ="0">:</label> <br/>
        <label><input type ="radio" name ="q3" value ="6">|</label> <br/>
        <label><input type ="radio" name ="q3" value ="0">both</label> <br/>
        <label><input type ="radio" name ="q3" value ="0">none of above</label> <br/>
    </fieldset>

    <fieldset class="question">
        <p id ="4">Quetion 4: What is .subscribe?</p>
        <label><input type ="radio" name ="q4" value ="0">streams data in asynchronously</label> <br/>
        <label><input type ="radio" name ="q4" value ="0">stream data in synchronously</label> <br/>
        <label><input type ="radio" name ="q4" value ="6">both</label> <br/>
        <label><input type ="radio" name ="q4" value ="0">none of above</label> <br/>
    </fieldset>

    <fieldset class="question">
        <p id ="5">Quetion 5:  Router is part of which of the following module</p>
        <label><input type ="radio" name ="q5" value ="0">@angular/core</label><br/>
        <label><input type ="radio" name ="q5" value ="0">@angular/router </label><br/>
        <label><input type ="radio" name ="q5" value ="6">both</label><br/>
        <label><input type ="radio" name ="q5" value ="0">none of above</label><br/>
    </fieldset>

    <fieldset class="question">
        <p id ="6">Quetion 6: What does AOT stand for?</p>
        <label><input type ="radio" name ="q6" value ="0">Ahead of time compilation</label><br/>
        <label><input type ="radio" name ="q6" value ="0">angular object template</label><br/>
        <label><input type ="radio" name ="q6" value ="6">both</label><br/>
        <label><input type ="radio" name ="q6" value ="0">none of above</label><br/>
    </fieldset>
