<div class="mb-3">
    <h2>Log-in</h2> 
    username: <input type = "text" #userName><br>
    <br>
    Password: <input type = "password" #password><br/>
    <br/><br>

   <input type = "button" value ="log-in"(click) = "checkUser(userName.value,password.value)"class="btn btn-primary" >
   <pre>                                                 <input type = "button" value ="sign up"(click) = "goRegister()" class="btn btn-primary"> </pre>
   <!-- <input type = "button" value ="sign up"(click) = "goRegister()" class="btn btn-primary"> -->
    
     
</div>
